* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* smooth scroll for nav links to sections */
}

body {
  background-color: var(--color-primary);
  color: var(--color-text-body);
  font-family: var(--font-body);
  line-height: 1.6;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
  color: var(--color-white);
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: var(--font-body);
  cursor: pointer;
  border: none;
  background: none;
}

.section-container {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 0 var(--space-lg); */
}

.accent-text {
  color: var(--color-accent);
}
